<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" id="WebApp_ID" version="4.0">
  <display-name>ImageWebProject</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>Login</servlet-name>
    <servlet-class>com.nagarro.assignment.controller.Login</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Login</servlet-name>
    <url-pattern>/Login</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Logout</servlet-name>
    <servlet-class>com.nagarro.assignment.controller.Logout</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ImageUpload</servlet-name>
    <servlet-class>com.nagarro.assignment.controller.ImageUpload</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ImageDelete</servlet-name>
    <servlet-class>com.nagarro.assignment.controller.ImageDelete</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ImageEdit</servlet-name>
    <servlet-class>com.nagarro.assignment.controller.ImagesEdit</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ImageRetriever</servlet-name>
    <servlet-class>com.nagarro.assignment.controller.ImageRetriever</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ResetPassword</servlet-name>
    <servlet-class>com.nagarro.assignment.controller.ResetPassword</servlet-class>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>Logout</servlet-name>
    <url-pattern>/Logout</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ImageUpload</servlet-name>
    <url-pattern>/ImageUpload</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ImageDelete</servlet-name>
    <url-pattern>/ImageDelete</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ImageEdit</servlet-name>
    <url-pattern>/ImageEdit</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ImageRetriever</servlet-name>
    <url-pattern>/ImageRetriever</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ResetPassword</servlet-name>
    <url-pattern>/ResetPassword</url-pattern>
  </servlet-mapping>
  <servlet>
  <servlet-name>Register</servlet-name>
  <servlet-class>com.nagarro.assignment.controller.Register</servlet-class>
  </servlet>
  <servlet-mapping>
  <servlet-name>Register</servlet-name>
  <url-pattern>/Register</url-pattern>
  </servlet-mapping>
</web-app>